body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vh;
}
.container-left{
  width: 40%;
}
.img-holder{
  width: 90%;
  margin: 10px;
  box-shadow: 5px 5px 10px 0px #f3f3f3;
  border-radius: 10px;
}
.img-holder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.container-right{
  margin-left: 10px;
  width: 60%;
}
